@import "_fonts.scss";
@import "_reset.scss";

[class*="__container"] {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Causten", sans-serif;
  font-size: 14px;
  color: #807d7e;
  .menu-open & {
    overflow: hidden;
  }
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  > main {
    flex-grow: 1;
  }
}

$tablet: 960px;
$mobile: 539.98px;

@mixin img($aspect-ratio: 91 / 45) {
  width: 100%;
  height: 100%;
  aspect-ratio: $aspect-ratio;
  object-fit: cover;
}

// ________________________header________________________

// .header {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   z-index: 50;
//   background-color: #fff;
//   &__container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     column-gap: 15px;
//     min-height: 108px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     @media (max-width: $tablet) {
//       min-height: 70px;
//       column-gap: 10px;
//     }
//     @media (max-width: $mobile) {
//       flex-wrap: wrap;
//       row-gap: 15px;
//     }
//   }

//   &__logo {
//     flex: 0 0 93px;
//     margin-right: 10px;
//     z-index: 5;
//     @media (max-width: $tablet) {
//       margin-right: 0px;
//       flex-basis: 80px;
//     }
//     @media (max-width: $mobile) {
//       flex-basis: 72px;
//     }
//     img {
//       @include img;
//     }
//   }

//   &__form-search {
//   }

//   &__actions {
//     @media (max-width: $mobile) {
//       order: 4;
//       width: 100%;
//       justify-content: flex-end;
//     }
//   }
// }
// .menu {
//   &__body {
//     @media (max-width: $tablet) {
//       position: fixed;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: -100%;
//       padding: 90px 15px 30px 15px;
//       background-color: rgba(206, 206, 206, 0.95);
//       overflow: auto;
//       transition: left 0.3s;
//       .menu-open & {
//         left: 0;
//       }
//     }
//     &::before {
//       @media (max-width: $tablet) {
//         content: "";
//         position: fixed;
//         width: 100%;
//         height: 70px;
//         top: 0;
//         left: -100%;
//         z-index: 2;
//         background-color: rgba(206, 206, 206);
//         transition: left 0.3s;
//         .menu-open & {
//           left: 0;
//         }
//       }
//       @media (max-width: $mobile) {
//         height: 115px;
//       }
//     }
//     @media (max-width: $mobile) {
//       padding-top: 140px;
//     }
//   }

//   &__list {
//     display: flex;
//     justify-content: center;
//     flex-wrap: wrap;
//     column-gap: 40px;
//     row-gap: 10px;
//     @media (max-width: 1095px) {
//       column-gap: 15px;
//     }
//     @media (max-width: $tablet) {
//       flex-direction: column;
//       align-items: flex-end;
//       row-gap: 20px;
//     }
//   }

//   &__item {
//     @media (max-width: $tablet) {
//       .menu-open & {
//         width: 100%;
//         text-align: right;
//         transform: translateX(-100%);
//         visibility: hidden;
//         opacity: 0;
//         animation: show-items 1s ease forwards;
//         @for $i from 1 through 5 {
//           @for $i from 1 through 6 {
//             &:nth-child(#{$i}) {
//               $delay: ($i - 1) * 0.2;
//               animation-delay: #{$delay}s;
//             }
//           }
//         }
//         @keyframes show-items {
//           0% {
//           }
//           100% {
//             opacity: 1;
//             visibility: visible;
//             transform: translate(0px, 0%);
//           }
//         }
//       }
//     }
//   }

//   &__item--active {
//   }

//   &__link {
//     font-size: 22px;
//     font-weight: 500;
//     line-height: 1.2;
//     transition: all 0.3s;
//     @media (max-width: $tablet) {
//       font-size: 30px;
//     }
//     @media (any-hover: hover) {
//       .menu__item &:hover:not(.menu__item.menu__item--active &) {
//         text-decoration: underline;
//         color: #3c4242;
//       }
//     }
//     .menu__item--active & {
//       color: #3c4242;
//       font-weight: 700;
//     }
//   }
// }
// .search-form {
//   flex: 0 1 267px;
//   display: flex;
//   position: relative;
//   @media (max-width: 1095px) {
//     flex-basis: 200px;
//   }
//   @media (max-width: $tablet) {
//     flex-grow: 1;
//     margin-left: -10px;
//   }
//   @media (max-width: $mobile) {
//     flex-basis: 130px;
//   }

//   &__input {
//     height: 44px;
//     width: 100%;
//     background: #f6f6f6;
//     border-radius: 8px;
//     overflow: hidden;
//     padding: 0 10px 0 52px;
//     &::placeholder {
//       font-size: 16px;
//     }
//     @media (max-width: $mobile) {
//       height: 40px;
//     }
//   }
//   img {
//     position: absolute;
//     top: 50%;
//     left: 22px;
//     width: 20px;
//     height: 20px;
//     transform: translateY(-50%);
//     max-width: 100%;
//   }
// }
// .actions-header {
//   display: flex;
//   flex-shrink: 0;
//   gap: 12px;
//   &__item {
//     flex: 0 0 44px;
//     min-height: 100%;
//     padding: 12px;
//     border-radius: 8px;
//     background: #f6f6f6;
//     position: relative;
//     overflow: hidden;
//     transition: all 0.3s;
//     @media (any-hover: hover) {
//       &:hover {
//         background-color: #cecece;
//       }
//       &:hover img {
//         transform: scale(1.1);
//       }
//     }
//     @media (max-width: $mobile) {
//       flex-basis: 40px;
//     }
//     img {
//       @include img(20 / 20);
//     }
//   }
// }

// .icon-menu {
//   display: none;
//   @media (max-width: $tablet) {
//     display: block;
//     flex: 0 0 34px;
//     height: 20px;
//     position: relative;
//     z-index: 5;
//     &::before,
//     &::after,
//     span {
//       content: "";
//       height: 2px;
//       width: 100%;
//       position: absolute;
//       left: 0;
//       background-color: #000;
//       transition: all 0.3s;
//     }
//     &::before {
//       top: 0;
//       .menu-open & {
//         transform: rotate(-45deg);
//         top: 50%;
//         margin-bottom: -1px;
//       }
//     }
//     &::after {
//       bottom: 0;
//       .menu-open & {
//         transform: rotate(45deg);
//         bottom: 50%;
//         margin-bottom: -1px;
//       }
//     }

//     span {
//       top: 50%;
//       margin-top: -1px;
//       .menu-open & {
//         transform: scale(0);
//       }
//     }
//   }
//   @media (max-width: $mobile) {
//     order: 3;
//   }
// }

// _____________________hero________________________

// .page {
//   padding-top: 108px;
//   @media (max-width: $tablet) {
//     padding-top: 70px;
//   }
//   @media (max-width: $mobile) {
//     padding-top: 115px;
//   }
// }

// .hero {
//   position: relative;
//   display: flex;
//   align-items: center;
//   background-color: lightgray;
//   min-height: calc(100vh - 108px);
//   @media (max-width: $tablet) {
//     min-height: calc(100vh - 70px);
//   }
//   @media (max-width: $mobile) {
//     min-height: calc(100vh - 115px);
//   }

//   img {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     object-fit: cover;
//     object-position: top;
//   }

//   &__container {
//     position: relative;
//     width: 100%;
//     display: flex;
//   }

//   &__content {
//     padding: 30px 20px 30px 7.25%;
//     display: flex;
//     flex: 0 1 550px;
//     flex-direction: column;
//     row-gap: 40px;
//     color: #fff;
//     font-family: "Core Sans C", sans-serif;
//     @media (max-width: 420px) {
//       padding-right: 0;
//       padding-left: 0;
//     }
//   }

//   &__sub-title {
//     font-size: 32px;
//     font-weight: 500;
//     line-height: 1.18;
//     letter-spacing: 0.157px;
//     text-transform: capitalize;
//     @media (max-width: $tablet) {
//       font-size: 28px;
//     }
//     @media (max-width: $mobile) {
//       font-size: 24px;
//     }
//     @media (max-width: 420px) {
//       text-align: center;
//       font-size: 22px;
//     }
//   }

//   &__title {
//     font-size: 78px;
//     font-weight: 800;
//     line-height: 1.2;
//     letter-spacing: 0.315px;
//     text-transform: capitalize;
//     @media (max-width: $tablet) {
//       font-size: 62px;
//     }
//     @media (max-width: $mobile) {
//       font-size: 52px;
//     }
//     @media (max-width: 420px) {
//       text-align: center;
//       font-size: 44px;
//     }
//   }

//   &__text {
//     p {
//       font-size: 32px;
//       font-weight: 500;
//       line-height: 1.48;
//       letter-spacing: 0.315px;
//       @media (max-width: $tablet) {
//         font-size: 28px;
//       }
//       @media (max-width: $mobile) {
//         font-size: 24px;
//       }
//       @media (max-width: 420px) {
//         text-align: center;
//         font-size: 22px;
//       }
//       &:not(:last-child) {
//         margin-bottom: 15px;
//       }
//     }
//   }

//   &__btn {
//     padding: 16px 66px;
//     border-radius: 8px;
//     background-color: #fff;
//     align-self: start;
//     color: #3c4242;
//     text-align: center;
//     font-size: 24px;
//     font-weight: 700;
//     line-height: 1.2;
//     text-transform: capitalize;
//     transition: background-color 0.3s;
//     @media (max-width: 420px) {
//       width: 100%;
//     }
//     @media (any-hover: hover) {
//       &:hover {
//         background-color: #cecece;
//       }
//     }
//     @media (max-width: $tablet) {
//     }
//   }
// }

// ______________discount-cards_________________

// Перший варіант адаптиву - адаптивні властивості пишу БЕМ елементу

.discount-cards {
  padding: 130px 0 100px;
  @media (max-width: 767.98px) {
    padding: 80px 0 50px;
  }
  &__container {
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 767.98px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    &.card-discount {
      @media (max-width: 767.98px) {
        min-height: 300px;
        max-width: 100%;
        padding-left: 10%;
      }
      @media (max-width: 460px) {
        padding-left: 30px;
      }
    }
    .card-discount__content {
      @media (max-width: 460px) {
        max-width: 100%;
        flex-basis: 100%;
        text-align: center;
      }
    }
    .card-discount__img-box::after {
      @media (max-width: 460px) {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #1d1e1d;
        opacity: 0.7;
      }
    }
    .card-discount__title {
      @media (max-width: 460px) {
        font-size: 28px;
      }
    }
  }
}
.card-discount {
  display: flex;
  align-items: center;
  max-width: 605px;
  min-height: 356px;
  position: relative;
  padding: 20px 30px;
  border-radius: 12px;
  border: 1px solid #000;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: lightgray;
  @media (any-hover: hover) {
    &:hover {
      box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
    }
  }

  &__img-box {
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__content {
    position: relative;
    max-width: 265px;
    font-family: "Core Sans C", sans-serif;
    color: #fff;
    text-transform: capitalize;
    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__label {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.67;
    letter-spacing: 0.251px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 800;
    line-height: 1.32;
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__sale {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.251px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.51;
    span {
      padding-bottom: 1px;
      border-bottom: 1px solid #fff;
      transition: all 0.3s;
    }
    @media (any-hover: hover) {
      &:hover span {
        border-color: transparent;
      }
    }
  }
}

// Другій варіант адаптиву - адаптивні властивості пишу БЕМ юлоку

// .discount-cards {
//   padding: 130px 0 100px;
//   @media (max-width: 767.98px) {
//     padding: 80px 0 50px;
//   }
//   &__container {
//   }

//   &__items {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 30px;
//     @media (max-width: 767.98px) {
//       grid-template-columns: 1fr;
//     }
//   }

//   &__item {
//   }
// }

// .card-discount {
//   display: flex;
//   align-items: center;
//   max-width: 605px;
//   min-height: 356px;
//   position: relative;
//   padding: 20px 30px;
//   border-radius: 12px;
//   border: 1px solid #000;
//   overflow: hidden;
//   transition: all 0.3s;
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
//   background-color: lightgray;
//   @media (any-hover: hover) {
//     &:hover {
//       box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
//     }
//   }
//   &.discount-cards__item {
//     @media (max-width: 767.98px) {
//       min-height: 300px;
//       max-width: 100%;

//       padding-left: 10%;
//     }
//     @media (max-width: 460px) {
//       padding-left: 30px;
//     }
//   }

//   &__img-box {
//     .discount-cards__item &::after {
//       @media (max-width: 460px) {
//         content: "";
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0px;
//         left: 0px;
//         background-color: #1d1e1d;
//         opacity: 0.7;
//       }
//     }
//     img {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       object-position: top;
//     }
//   }

//   &__content {
//     position: relative;
//     max-width: 265px;
//     font-family: "Core Sans C", sans-serif;
//     color: #fff;
//     text-transform: capitalize;
//     & > *:not(:last-child) {
//       margin-bottom: 10px;
//     }
//     .discount-cards__item & {
//       @media (max-width: 460px) {
//         max-width: 100%;
//         flex-basis: 100%;
//         text-align: center;
//       }
//     }
//   }

//   &__label {
//     font-family: "Montserrat", sans-serif;
//     font-size: 18px;
//     font-weight: 800;
//     line-height: 1.67;
//     letter-spacing: 0.251px;
//     &:not(:last-child) {
//       margin-bottom: 24px;
//     }
//   }

//   &__title {
//     font-size: 34px;
//     font-weight: 800;
//     line-height: 1.32;
//     &:not(:last-child) {
//       margin-bottom: 9px;
//     }
//     .discount-cards__item & {
//       @media (max-width: 460px) {
//         font-size: 28px;
//       }
//     }
//   }

//   &__sale {
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 1.57;
//     letter-spacing: 0.251px;
//     &:not(:last-child) {
//       margin-bottom: 30px;
//     }
//   }

//   &__link {
//     font-size: 20px;
//     font-weight: 800;
//     line-height: 1.51;
//     span {
//       padding-bottom: 1px;
//       border-bottom: 1px solid #fff;
//       transition: all 0.3s;
//     }
//     @media (any-hover: hover) {
//       &:hover span {
//         border-color: transparent;
//       }
//     }
//   }
// }

.footer {
  p {
    font-size: 30px;
    text-align: center;
    padding: 50px 0;
    line-height: 1.2;
    box-shadow: inset 0px 0px 40px 40px rgba(150, 146, 146, 0.1);
  }
}
