@import url("fonts.css");

@import url("reset.css");

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-title {
  font-family: "DM Serif Text", serif;
  font-size: 55px;
  color: #cecece;
  text-align: center;
  padding: 40px 0;
  text-shadow: 5px 6px 7px #0e333d;
  line-height: 1.2;
  box-shadow: inset 0px 0px 40px 40px rgba(150, 146, 146, 0.1);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #000;
}
