@import url(fonts.css);

@import url("reset.css");

/*------------------------- Макет з бордером -------------------------------*/

body {
  font-family: "Cormorant Infant", serif;
  font-size: 30px;
  color: #606060;
}

.header-title {
  font-family: "DM Serif Text", serif;
  font-size: 55px;
  color: #cecece;
  text-align: center;
  padding: 40px 0;
  text-shadow: 5px 6px 7px #0e333d;
  line-height: 1.2;
  box-shadow: inset 0px 0px 40px 40px rgba(150, 146, 146, 0.1);
}

.develop-jewels {
  background-color: white;
}

.develop-container {
  max-width: 1133px;
  margin: 0 auto;
  padding: 0 15px;
}

.inner-develop {
  padding: 69px 0 157px 0;
  font-size: 0;
}

.develop-content {
  max-width: 503px;
  display: inline-block;
  padding: 70px 0;
  margin-right: 75px;
  vertical-align: middle;
}

.develop-what,
.develop-title,
.develop-text {
  font-weight: 700;
}

.develop-what {
  font-size: 20px;
  color: #d58417;
  line-height: 1;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.develop-title {
  color: #000;
  font-size: 64px;
  line-height: 1;
  margin-bottom: 31px;
  text-transform: capitalize;
}

.develop-text {
  font-size: 30px;
  line-height: 1.4;
}

.box-small-img,
.box-large-img {
  display: inline-block;
  vertical-align: middle;
}

.box-small-img {
  width: 187px;
  margin-right: 20px;
}

.box-large-img {
  width: 307px;
}

.border-small-img,
.border-large-img {
  display: inline-block;
  border: 1px solid #502203;
  border-radius: 235px;
  margin-left: 10px;
}

.border-small-img {
  width: 177px;
  height: 336px;
}

.border-large-img {
  width: 308px;
  height: 506px;
}

.border-small-img img,
.border-large-img img {
  border-radius: 235px;
  margin-left: -10px;
}

.border-small-img img {
  max-width: 177px;
  margin-top: 10px;
}

.border-large-img img {
  max-width: 307px;
  margin-top: 15px;
}

/*------------------------- Макет текстовий Project Information -------------------------------*/

.information-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-project {
  max-width: 830px;
  margin: 0 auto;
  padding: 50px 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #7d7d7d;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.27;
  color: #37393f;
  margin-bottom: 13px;
}

.project-text {
  line-height: 1.46;
  margin-bottom: 35px;
}
.project-text p {
  margin-bottom: 20px;
}
.project-list {
  font-weight: 500;
  line-height: 1.46;
  margin-bottom: 35px;
}
.project-item {
  padding-left: 43px;
  margin-bottom: 20px;
}

/*------------------------- Макет текстовий Licencing -------------------------------*/

.licencing-container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-licencing {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #7d7d7d;
  padding: 150px 0;
}

.licencing-sub-title {
  text-align: center;
  margin-bottom: 16px;
}

.sub-title-decoration {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
}

.sub-title-text {
  display: inline-block;
  color: #37393f;
  font-weight: 500;
}

.licencing-title,
.item-title,
.item-sub-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #37393f;
}

.licencing-title {
  font-size: 60px;
  line-height: 1.21;
  text-align: center;
  margin-bottom: 70px;
}

.list-item {
  margin-bottom: 100px;
}

.item-title {
  font-size: 40px;
  line-height: 1.21;
  margin-bottom: 11px;
}

.icons-item-text {
  margin-bottom: 32px;
}

.item-sub-title {
  font-size: 30px;
  margin-bottom: 8px;
}

.item-text {
  margin-bottom: 24px;
}

.licencing-list span,
.licencing-list h4 span,
.item-text-color {
  color: #40ddb6;
}

.licencing-list span {
  font-weight: 500;
}

.licencing-list h4 span {
  font-weight: 400;
}

.item-text-color,
.item-sub-title,
.icons-item-text,
.item-text {
  line-height: 1.46;
}

/*----------------------------- Макет текстовий Clothing -----------------------------*/

.clothing-container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.box-clothing {
  font-family: "Causten", sans-serif;
  font-size: 20px;
  line-height: 1.67;
  letter-spacing: 0.4px;
  color: #807d7e;
  padding: 100px 0 100px 21px;
}

.box-clothing span {
  font-weight: 700;
}

.inner-title {
  margin: 0 0 30px -20px;
}

.title-decoration {
  display: inline-block;
  width: 6px;
  height: 28px;
  border-radius: 10px;
  background: #8a33fd;
  margin-bottom: -4px;
}

.clothing-title,
.clothing-sub-title,
.clothing-link {
  font-family: "Core Sans C", sans-serif;
  font-weight: 600;
}

.clothing-title {
  display: inline-block;
  font-size: 28px;
  line-height: 1.19;
  letter-spacing: 0.56px;
  color: #3c4242;
  padding-left: 10px;
}

.clothing-sub-title,
.clothing-link,
.clothing-text,
.box-clothing span {
  line-height: 1.67;
  letter-spacing: 0.4px;
}

.clothing-sub-title {
  margin-bottom: 25px;
}

.clothing-text {
  margin-bottom: 25px;
}
.clothing-text p {
  margin-bottom: 20px;
}
.clothing-inner-article {
  margin-bottom: 20px;
}

/*----------------------------- Практика -----------------------------*/

.box-rainbow {
  width: 530px;
  padding: 50px 15px 200px;
  margin: 0 auto;
}

.color,
.color-1,
.color-2,
.color-3,
.color-4,
.color-5 {
  display: inline-block;
  border-radius: 50%;
}

.color {
  width: 500px;
  height: 500px;
  border: 50px double red;
  outline: 10px solid rgb(166, 223, 133);
  box-shadow: 111px 51px 21px rgba(98, 160, 73, 0.212);
}

.color-1 {
  width: 400px;
  height: 400px;
  border: 50px dotted green;
}

.color-2 {
  width: 300px;
  height: 300px;
  border: 50px double red;
}

.color-3 {
  width: 200px;
  height: 200px;
  border: 50px dashed blue;
  margin: 0 auto;
}

.color-4 {
  width: 100px;
  height: 100px;
  border: 30px solid yellow;
  box-shadow: inset 7px 7px 5px rgba(143, 92, 92, 0.115);
}

.color-5 {
  width: 40px;
  height: 40px;
  background-color: black;
  opacity: 0.2;
  visibility: hidden;
}
